<footer>
    <div class="content">
        <div class="info">
            <h3>Gracias por visitarnos!</h3>
            <p>
                ¡Has explorado el fascinante universo de héroes y villanos de DC Comics!
                Esperamos que hayas disfrutado de tu viaje por estas emocionantes historias
                llenas de valentía, poderes extraordinarios y batallas épicas. No olvides
                regresar para descubrir más sobre tus superhéroes favoritos y las sorpresas
                que les depara el futuro. ¡Hasta la próxima aventura!
            </p>
        </div>
        <div class="redes">
            <img src="./assets/iconos/twitter.png" alt="" />
            <img src="./assets/iconos/facebook.png" alt="" />
            <img src="./assets/iconos/instagram.png" alt="" />
        </div>
    </div>
    <a class="copy">copyright 2021 © ignacio villarreal</a>
</footer>