<div class="all">
    <div class="container">
        <div *ngIf="personaje" class="cartaPersonaje">
            <div class="principal">
                <div class="imagenPrincipal" [class]="randomColor()">
                    <img src="./assets/personajes/{{ personaje.fotoPrincipal }}" alt="" />
                </div>
                <div class="basic-info">
                    <h2>{{ personaje.nombre }}</h2>
                    <p>{{ personaje.descripcion }}</p>
                </div>
            </div>
            <div class="otrosDatos">
                <div class="titulo">
                    <h3>Datos</h3>
                    <div class="shape5"></div>
                </div>
                <div class="datos">
                    <p>Origen: {{ personaje.origen }}</p>
                    <p>Poderes y Habilidades: {{ personaje.poderesHabilidades }}</p>
                    <p>Debilidades: {{ personaje.debilidades }}</p>
                    <p>Estadisticas: {{ personaje.estadisticas }}</p>
                    <p>Curiosidades: {{ personaje.curiosidades }}</p>
                </div>
            </div>
            <div class="atras">
                <button class="goBack" type="button" (click)="goBack()">Atras</button>
            </div>
        </div>
    </div>
</div>