<div class="all">
    <div class="container">
        <header class="header content">
            <img src="./assets/iconos/dc-logo.png" alt="">
            <nav class="nav-bar">
                <ul>
                    <li><a routerLink="/" href="">Inicio</a></li>
                    <li><a routerLink="/characters" href="">Personajes</a></li>
                    <li><a routerLink="/peliculas" href="">Peliculas</a></li>
                </ul>
            </nav>
        </header>
        <app-hero></app-hero>
    </div>
</div>