@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/basier');

.introduction{
    margin: 0;
    padding: 20px 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.introduction .shape1{
    width: 400px;
    height: 6px;
    background-color: #4770ff;
}

.introduction .presentation1{
    font-size: 60px;
    max-width: 700px;
    min-width: 500px;
}

.introduction .presentation1 .enfasis{
    color:#4770ff;
}

.introduction .presentation2{
    margin-top: 40px;
    display: flex;
}

.introduction .presentation2 img{
    padding: 40px;
    max-width: 550px;
    height: auto;
}

.introduction .presentation2 p{
    font-family: 'Basier Circle', sans-serif;
    font-size: 20px;
    max-width: 600px;
    min-width: 400px;
    line-height: 1.8em;
    color: #6e6d8f;
    margin-right: 50px;
}

@media (max-width: 1440px) {
    .introduction .presentation2 img{
        width: 400px;
        height: auto;
    }
}

