<section class="introduction">
    <div class="shape1"></div>
    <h2 class="presentation1">
        Hola, Amante de los 
        <span class="enfasis">Comics</span>
    </h2>
    <div class="presentation2">
        <p>
            Explora un mundo donde las viñetas se vuelven acción en la pantalla y los héroes saltan a la vida. 
            Descubre análisis, curiosidades y aventuras épicas que han marcado generaciones. 
            Desde clásicos atemporales hasta las últimas novedades, aquí encontrarás todo sobre películas y cómics. 
            ¡Prepárate para vivir la magia de las historias ilustradas y el cine!
        </p>
        <img src="./assets/iconos/batman-logo.png" alt="">
    </div>
</section>
