@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

.movies{
    margin: 60px 0;
    padding: 20px 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.movies .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.movies .cards .card{
    width: 280px;
    height: 600px;
    text-align: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow:  15px 15px 27px #d9d9d9,
            -15px -15px 27px #ffffff;
    transition: all ease 350ms;
}

.movies .cards .card:hover{
    transform: scale(1.05);
}

.movies .cards .card img{
    width: 280px;
    height: 400px;
    clip-path: polygon(0 0, 100% 0%, 100% 92%, 0% 100%);
}

.movies .cards .card p{
    color: #3a395e;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    opacity: 0.6;
}

.movies .cards .card h3{
    text-align: center;
    font-size: 25px;
}

.movies .cards .card a{
    border-radius: 20px;
    padding: 10px 50px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    transition: all 400ms ease;
}

.movies .cards .card a:hover{
    color: white;
    background-color: #4770ff;
    border: none;
    transform: scale(1.1);
}