@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.all{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9fa;
}
.container{
    max-width: 1500px;
    width: 90%;
}

.detalles-pelicula {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.detalles-pelicula .principal {
    display: flex;
    align-items: start;
    justify-content: start;
}

.detalles-pelicula .principal .imagenPrincipal {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}

.detalles-pelicula .principal .imagenPrincipal img {
    width: 350px;
    height: auto;
    transition: all 350ms ease;
    -webkit-box-shadow: 20px 26px 46px -6px rgba(99, 99, 99, 1);
    -moz-box-shadow: 20px 26px 46px -6px rgba(99, 99, 99, 1);
    box-shadow: 20px 26px 46px -6px rgba(99, 99, 99, 1);
}

.detalles-pelicula .principal .basic-info {
    max-width: 700px;
}

.detalles-pelicula .principal .basic-info h2 {
    font-size: 60px;
    color: #3a395e;
}

.detalles-pelicula .principal .basic-info p {
    font-size: 22px;
    color: #6e6d8f;
    font-family: 'Basier Circle', sans-serif;
}

.detalles-pelicula .otrosDatos {}

.detalles-pelicula .otrosDatos .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detalles-pelicula .otrosDatos h3 {
    font-size: 50px;
    color: #3a395e;
    margin: 0;
}

.detalles-pelicula .otrosDatos .shape5 {
    width: 200px;
    height: 6px;
    background-color: #3ca2fc;
}

.detalles-pelicula .otrosDatos .datos {
    margin: 50px 100px;
}

.detalles-pelicula .otrosDatos .datos p {
    transform: scale(0.98);
    font-size: 20px;
    opacity: 0.6;
    transition: all ease 350ms;
}

.detalles-pelicula .otrosDatos .datos p:hover {
    opacity: 1;
    transform: scale(1);
}


.detalles-pelicula .atras{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* boton atras */
.goBack {
    height: 2.8em;
    width: 9em;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #016DD9;
    outline: none;
    color: #016DD9;
    font-size: 17px;
}

.goBack:hover {
    background: #016DD9;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
}

@keyframes squeeze3124 {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}