<header>
    <img src="./assets/iconos/dc-logo.png" alt="">
    <ul class="navBar nav">
        <li><a routerLink="/" href="" (click)="closeMenu()">Inicio</a></li>
        <li><a routerLink="/characters" href="" (click)="closeMenu()">Personajes</a></li>
        <li><a routerLink="/peliculas" href="" (click)="closeMenu()">Peliculas</a></li>
    </ul>
    <label class="menu" for="menu" (click)="openMenu()">
        <input type="checkbox" id="menu">
        <span></span>
        <span></span>
        <span></span>
    </label>
</header>