<div class="all">
    <div class="container">
        <footer class="footer">
            <div class="content">
                <div class="info">
                    <h3>Gracias por visitarnos!</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo
                        assumenda ipsum quos minima, possimus beatae consequatur repellat
                        magni nisi vel.
                    </p>
                    <div class="contact">Contactanos</div>
                </div>
                <div class="redes">
                    <img src="./assets/iconos/twitter.png" alt="" />
                    <img src="./assets/iconos/facebook.png" alt="" />
                    <img src="./assets/iconos/instagram.png" alt="" />
                </div>
            </div>
            <a class="copy">copyright 2021 © ignacio villarreal</a>
        </footer>
    </div>
</div>