@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.all{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf9fa;
}
.container{
    max-width: 1500px;
    width: 90%;
}

.footer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.footer .content{
    display: flex;
    margin-bottom: 40px;
}

.footer .content .info{
    width: 600px;
    height: auto;
    margin-right: 100px;
}

.footer .content .info p{
    font-family: 'Plus Jakarta Display', sans-serif;
    color: #6e6d8f;
    font-size: 18px;
    line-height: 1.778em;
    text-transform: lowercase;
    margin-bottom: 50px;
}

.footer .content .info h3{
    color: #3a395e;
    font-size: 28px;
    line-height: 1.286em;
    font-weight: 700;
}

.footer .content .info .contact{
    padding: 28px 52px;
    border-radius: 20px;
    background-color: #4770ff;
    box-shadow: 0 3px 17px 0 rgba(112, 81, 239, 0.27);
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    text-decoration: none;
    transform: scale(1);
    transition: all 350ms ease;
    width: 120px;
    cursor: pointer;
}

.footer .content .info .contact:hover{
    box-shadow: 0 7px 25px 0 rgba(112, 81, 239, 0.27);
    transform: scale(1.1);
    color: #fff;
}

.footer .content .redes{
    margin-top: 60px;
}

.footer .content .redes img{
    width: 70px;
    height: auto;
    margin-right: 30px;
    transform: scale(1);
    transition: all 350ms ease;
}

.footer .content .redes img:hover{
    transform: scale(1.1);
}

.footer .copy{
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.6;
}