<section class="contenido-principal">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="assets/slider/slider1.jpg" alt="">
            <img id="slide-2" src="assets/slider/slider2.jpg" alt="">
            <img id="slide-3" src="assets/slider/slider3.jpg" alt="">
            <img id="slide-4" src="assets/slider/slider4.jpg" alt="">
            <img id="slide-5" src="assets/slider/slider5.jpg" alt="">
            <img id="slide-6" src="assets/slider/slider6.jpg" alt="">
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
            <a href="#slide-6"></a>
        </div>
    </div>
</section>



